.sign-in-container {
   width: 30vw;

   h2 {
      margin-bottom: 30px;
   }

   span {
      font-size: 22px;
   }

   form {
      margin-top: 50px;
   }

   .sign-in-buttons {
      display: flex;
      justify-content: space-between;
   }
}
